@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import '~react-image-gallery/styles/css/image-gallery.css';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Abril Fatface', 'Arial' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 768px) {
  body {
    min-width: 767px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    min-width: 1199px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
